<!-- templates/app/list.html -->

{% extends '_base.html' %}
{% load static %}

{% block styles %}
{% endblock styles %}

{% block content %}
{% for field in form %}
    {% if field.errors %}
        <div class="uk-alert-danger" uk-alert>
            <a class="uk-alert-close" uk-alert></a>
            {{ field.errors }}
        </div>
    {% endif %}
{% endfor %}

<!-- This is a button toggling the modal -->
<button class="uk-button uk-button-default uk-margin-small-right" type="button" uk-toggle="target: #modal-example">投稿</button>
<!-- This is the modal -->
<div id="modal-example" uk-modal>
    <div class="uk-modal-dialog uk-modal-body">
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="uk-flex uk-flex-between">
                <button class="uk-button uk-button-danger uk-modal-close" type="button">Cancel</button>
                <button class="uk-button main-theme" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>

<div class="ul-list uk-margin-top" >
    {% for post in object_list %}
        <a href="{% url 'app:detail' id=post.pk %}" class="uk-display-block uk-link-toggle">
            <div class="uk-margin">
                <div class="uk-card uk-card-default uk-card-hover">
                    <div class="uk-card-header">
                        <div class="uk-grid-small uk-child-width-expand@s" uk-grid>
                            <div class="uk-width-expand">
                                <h3 class="uk-card-title uk-margin-remove-bottom">{{ post.post }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}
</div>
{% endblock content %}